<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>ABOUT</title>
</head>
<body>
<div id="wrapper">
    <header id="header">
        <div class="logo">
            <a href=".">
                <h2>HONGIK EE</h2>
            </a>
        </div>
        <nav id="nav">
            <ul>
                <li>
                    <a href="index">HOME</a>
                </li>
                <li>
                    <a href="graduation">GRADUATION</a>
                </li>
                <li>
                    <a href="subjects">SUBJECTS</a>
                </li>
                <li>
                    <a href="about">ABOUT</a>
                </li>
            </ul>
        </nav>
    </header>
    <section id="main">
        <h1>ABOUT</h1>
    </section>
</div>
</body>
</html>