@font-face {
    font-family: "awesome-font";
    src:url("font/fontawesome-webfont.woff2") format("woff");
    font-style: normal;
    font-weight: normal;
}

body {
    overflow:hidden;
}

body, input, select, textarea {
    background: #d9d9dc;
    color: #7c8081;
    font-family: "awesome-font";
    font-size: 14pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.75em;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: none;
}

header, h1, h2, nav {
    margin: 0;
}

.major {
    margin: 0;
    font-size: 11px;
    display:block;
}

h5 {
    margin-top: 0.2em;
    margin-bottom: 0;
    margin-left: 0.1em;
    margin-right: 0;
}


a {
    text-decoration: none;
}

#wrapper {
    left: 0px;
    right: 0px;
    top: 0px;
    position: absolute;;
}

body #wrapper #header {
    width: 100%;
    color: white;
    position: absolute;
    padding: 1.25em 1.5em;
}

body #wrapper #header .logo {
    font-weight: 900;
    font-size: 18px !important;
}

body #wrapper #header .logo a {
    color: inherit;
}

#header #nav {
    letter-spacing: 0.075em;
    top: 1em;
    right: 1em;
    position:absolute;
    vertical-align: center;
}

#nav ul {
    margin-top: 0;
    padding: 0;
}

#nav > ul > li {
    margin-left: 0.5em;
    display: inline-block;
}

#nav ul li a {
    padding: 0 0.75em;
    color: inherit;
    display: inline-block;
    border: solid 1px transparent;
    text-decoration: none;
}

ul {
    list-style: none;
}

#banner {
    background-image: url("../img/technology-4739530_1280.jpg");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-color: black;
    color: white;
    cursor: default;
    padding: 100vh 100vw;
    text-align: center;
}