<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="headerFragment" id="header">
    <div class="logo">
        <a href="..">
            <h2>HONGIK EE</h2>
        </a>
    </div>
    <nav id="nav">
        <ul>
            <li>
                <a href="../home">HOME</a>
            </li>
            <li>
                <a href="../graduation">GRADUATION</a>
            </li>
            <li>
                <a href="../field">FIELD</a>
            </li>
            <li>
                <a href="../about">ABOUT</a>
            </li>
            <li>
                <a href="../login">LOGIN</a>
            </li>
        </ul>
    </nav>
</header>
</html>